html{
    width: max-content;
    margin: auto;
}

#imagen img {
    height: 150px;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

#gris {
    background-color: grey;
    padding: 10px;
    color: white;
    font-weight: bold;
}

fieldset:nth-of-type(1) label:nth-of-type(6) {
    margin-left: 775px;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

hr {
    height: 3px;
    background-color: grey;
}

#enviar {
    margin-left: 82%;
}