html {
    width: max-content;
    margin: auto;
    font-weight: bolder;
}

#imagen img {
    height: 150px;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

#gris {
    background-color: grey;
    padding: 10px;
    color: white;
    font-weight: bold;
}

fieldset:nth-of-type(1) label:nth-of-type(6) {
    margin-left: 710px;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

hr {
    height: 3px;
    background-color: grey;
}

#enviar {
    margin-left: 80%;
}

#fieldset-destinatarios label:nth-of-type(1),
#fieldset-destinatarios label:nth-of-type(2) {
    margin-right: 200px;
}

#demanda {
    margin-left: 39px;
}

#presupuesto_propuesta label:nth-of-type(1),
#presupuesto_propuesta label:nth-of-type(2),
#presupuesto_propuesta label:nth-of-type(3) {
    margin-right: 20px;
}

#presupuesto_propuesta label:nth-of-type(4) {
    margin-right: 60px;
}

#fieldset-duracion input:nth-of-type(1) {
    margin-right: 100px;
}

/* ESTILOS DE LA CALCULADORA */

#num1,
#num2,
#resultado_final {
    display: block;
}

#num1:focus,
#num2:focus {
    background-color: orange;
}

#id_mensaje_error {
    color: red;
    padding-top: 15px;
    text-align: center;
}


